*{
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 150px;
    position: relative;
    box-shadow: 0 5px 20px black;
    margin-bottom: 100px;
}

.mainlogo{
    background-color: white;
    border: 1px solid black;
    width: 340px;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 50px;
    box-shadow: 0 5px 10px black;
}

.beardimg{
    height: 100px;
    width: 100px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

.links{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
    margin-top: 90px;
    width: 125px;
    color: black;
}

.links:hover{
    color:blue;
}

.mainImage{

}

.mainBox{
    display: flex;
    border: 5px solid black;
    margin-bottom: 75px;
    background-color: lightgrey;
}

.box1{
    border: 2px solid black;
    background-color: white;
    text-align: center;
    font-size: 25px;
    height: 100px;
    width: 220px;
    position: relative;
    top: 75px;
    left: 80px;
}

.box2{
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    height: 100px;
    width: 220px;
    background-color: teal;
    color: white;
    position: relative;
    top: 95px;
    left: 90px;
}