 body {
   font-family: Arial, Helvetica, sans-serif;
   background-image: url(https://thumbs.gfycat.com/ImpracticalHomelyJunco-size_restricted.gif);
   background-repeat: no-repeat;
   background-size: 1600px 1000px;
   width: 100vw;
   height: 100vh;
 }

 .logo {
   width: 150px;
   height: 120px;
   margin: 3% 10%;
 }

  header {
   display: grid;
   grid-template-columns: 40% 60%;
   width: 100%;
 }

  nav > a {
   margin: 2% 1% 3%;
   height: 10%;
   width: 15%;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   border-radius: 25px;
   background: transparent;
   padding: 20px;
   text-align: center;
   border: 2px solid #0795C3;
 }

 .has-border {
   border-radius: 25px;
   border: 2px solid #0795C3;
   background: none;
   padding: 20px;
 }

 nav {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   padding-right: 2%;
 }

#frame{
    width: 1250px;
    height: 500px;
    border: 2px solid #0795C3;
}

 .small-text {
   grid-column: 2/3;
   color: white;
   font-size: 10px;
   margin: 3% auto;
   align-content: center;
 }

 .gold:hover{
   color: gold;
 }

 @viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}