.greeting{
    font-size: 30px;
    background-image: url()
}

body {
  background-color: $bgColor;
}

.calculator {
  height: 324px;
  width: 257px;
  background-color: $calcBgColor;
  position: relative;
  top: 80px;
  left: 40%;
  border-radius: 10px;
}

.screen {
  position: relative;
  left: 17px;
  top: 20px;
  width: 213px;
  height: 40px;
  color: $calcBlackText;
  background-color: $calcScreenColor;
  font-size: 21px;
  padding: 5px;
  text-align: right;
}

.buttons {
  position: relative;
  top: 25px;
}
