.wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.image{
    height: 450px;
    width: 850px;
}

.image-css{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-css .box{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
}

.box{
    color: white;
    font-size: 75px;
    font-family: 'Anton', sans-serif;
}

.container{
    height: 324px;
    width: 850px;
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
    margin-left: 198px;
}

.socialMedia{
    font-size: 14px;
    line-height: .2cm;
    font-family: 'Open Sans Condensed', sans-serif;
}

.office{
    font-size: 14px;
    line-height: .2cm;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contact{
    font-size: 14px;
    line-height: .1cm;
    font-family: 'Open Sans Condensed', sans-serif;
}

.title{
    font-family: 'Prompt', sans-serif;
}

.button{
    background-color: #4d4d4d;
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
}